<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CadenaSqlSrv" connectionString="Data Source=JMAC8; Initial Catalog=DBIntegrador; User ID=sa; Password=121233;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>